.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 59, 59);
}

.header__title, .header__link {
    margin: auto 0.5em 0.2em 0.5em;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.header__link {
    transition: all 0.3s ease-out;
}

.header__link:hover {
    letter-spacing: 0.3rem;
}