.container {
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card__picture {
    overflow: hidden;
}

.card__image {
    max-height: 100%;
    max-width: 100%;
    padding: 0.5em;
}

.card__name {
    margin: auto 0 0 0;
    cursor: default;
}

.card__types {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.card__types > p {
    padding: 0.2em 0.5em;
    color: black;
    border-radius: 2em;
}