@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
}

body {
    background-color: rgb(46, 40, 40);
}

a {
    text-decoration: none;
}

